.blog {
  padding: 100px 0px;
}

.blog__heading {
  text-align: center;
  color: #555555;
  padding: 0px 15px;
}

.blog__title {
  font-family: "Roboto-Bold";
  font-size: 20px;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #555555;
    margin: 0 auto;
    margin-top: 25px;
  }
}

.blog__subtitle {
  font-size: 16px;
  margin: 25px 0px 65px 0px;
}

.blog__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:first-child {
    margin-bottom: 75px;
  }
}

.blog__image {
  
}

.blog__about {
  max-width: 650px;
}

.blog__about-heading {
  display: flex;
  margin-bottom: 15px;
}

.blog__date {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #555555;
  padding: 10px 15px;
  margin-right: 25px;
}

.blog__number {
  font-family: "Roboto-Bold";
  font-size: 24px;
  color: #777777;
}

.blog__month {
  font-family: "Roboto-Bold";
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #777777;
}

.blog__name {
  margin-bottom: 10px;
}

.blog__name-link {
  font-size: 16px;
  line-height: 24px;
  color: #555555;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: #c0301c;
    transition: color .3s ease;
  }
}

.blog__developer {
  font-size: 13px;
  color: #555555;
  font-style: italic;
}

.blog__developer-link {
  color: #555555;
  text-decoration: none;

  &:hover {
    color: #c0301c;
    transition: color .3s ease;
  }
}

.blog__text {
  font-size: 14px;
  line-height: 24px;
  color: #555555;
  margin-bottom: 25px;
}

.blog__more { 
  font-family: "Roboto-Bold";
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  color: #555555;
  
  &:hover {
    color: #c0301c;
    transition: color .3s ease;
  }
}

@media (max-width: 1140px) {
  .blog__item {
    flex-direction: column;
  }

  .blog__image {
    margin-bottom: 15px;
    padding: 15px;
  }

  .blog__about-heading {
    justify-content: center;
  }

  .blog__about {
    padding: 0px 15px;
  }

  .blog__more {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .blog {
    padding: 50px 0px;
  }

  .blog__subtitle {
    margin-bottom: 20px;
  }
  
}