.footer {
  padding: 100px 0px;
  background-color: #c0301c;
}

.footer__wrapper {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__link {
  width: 35px;
  height: 35px;
  background: url("../img/footer/twitter.png") center no-repeat;

  &:hover {
    background: url("../img/footer/twitter-hover.png") center no-repeat;
    transition: all .3s ease;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0px 7px;
  margin-bottom: 40px;

  &:hover {
    background-color: #fff;
    transition: all .3s ease;
  }
}

.footer__text {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;

  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 35px 0px;
  }
}
